<md-toolbar color="primary">Angular 2 Forms</md-toolbar>
<md-tab-group>
    <md-tab label="Event Binding">

        <div class="app-wrapper">

            <md-card>
                <md-card-title>Demo 1: Click event</md-card-title>
                <md-card-content>
                    <p>
                        <click-me></click-me>
                    </p>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Demo 2: Click event on specific target</md-card-title>
                <md-card-content>
                    <p>
                        <click-me-v2></click-me-v2>
                    </p>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Demo 3: Input box event!</md-card-title>
                <md-card-content>
                    <key-up1></key-up1>
                </md-card-content>    
            </md-card>

            <md-card>
                <md-card-title>Demo 4: Input box event & template variable</md-card-title>
                <md-card-content>
                    <key-up2></key-up2>        
                </md-card-content>    
            </md-card>

            <md-card>
                <md-card-title>Demo 5: Type away! Press [enter] when done.</md-card-title>
                <md-card-content>
                    <key-up3></key-up3>
                </md-card-content>
            </md-card>

            <md-card>
                <md-card-title>Demo 6: Type away! Press [enter] or click elsewhere when done.</md-card-title>
                <md-card-content>
                    <key-up4></key-up4>
                </md-card-content>
            </md-card>

        </div>

        <md-card>
            <md-card-title>Demo 7: Loop back demo of template variable.</md-card-title>
            <md-card-content>
                <loop-back></loop-back>
            </md-card-content>
        </md-card>

    </md-tab>

    <md-tab label="Template Driven Forms">
        <template-hero-form></template-hero-form>
    </md-tab>

    <md-tab label="Reactive Forms">
        <reactive-hero-form></reactive-hero-form>
    </md-tab>

    <md-tab label="Customer Validator Ex">
        <signup-form></signup-form>
    </md-tab>

</md-tab-group>

